.movies {
  list-style: none;
  width: 1200px;
  margin: 0 auto;
  padding-left: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.movie-production-companies {
  list-style: none;
  padding-left: 0;
}

.movies-item {
  width: 280px;
  margin: 10px;
  text-align: center;
}

.movie-image {
  width: 260px;
}
