<div class="workbook">
  <table>
    <tr>
      <th>Номер</th>
      <th>Маршрут</th>
      <th>Время в пути</th>
    </tr>
    <tr>
      <div>
        <td>433</td>
        <td>Киев - Ковель</td>
        <td>5 часов</td>
      </div>
    </tr>
    <tr>
      <div>
        <td>701</td>
        <td>Харьков - Днепр</td>
        <td>7 часов</td>
      </div>
    </tr>
    <tr>
      <div>
        <td>258</td>
        <td>Львов - Одесса</td>
        <td>4 часа</td>
      </div>
    </tr>
  </table>
</div>
