.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100vw - 80px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.load-more {
}
.photo-card {
  height: fit-content;
  overflow: hidden;
}
.photo-card img {
  height: 200px;
  object-fit: cover;
}
.info {
  display: flex;
  justify-content: space-between;
}
.info-item {
  margin: 0;
  text-align: center;
}

.info-item b {
  font-weight: lighter;
}
