.wrapper {
  min-height: 100%;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: skyblue;
  //   background-color: #912105;
}
.header__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 0 30px;
  align-items: center;
  justify-content: center;
  min-height: 70px;
}
.form__container {
  display: flex;
  width: 100%;
}
.search-form {
  display: flex;
}

.search-form input {
  margin-right: 5px;
}
.nav__container {
  display: flex;
  width: 100%;
}
.nav {
  &__list {
    display: flex;
  }

  &__item {
    margin-right: 30px;
  }

  &__link {
    color: blue;
  }
}
